**/.DS_Store
.idea
.phpunit.result.cache
.phpunit.cache
.vscode
build
coverage
/docs/*
!/docs/compatibility-findings.md
!/docs/compatibility/
node_modules
phpunit.xml
phpstan.neon
testbench.yaml
vendor
